{% extends 'main/base.html' %}
{% block content %}
<h1>Página de Pessoas</h1>
<br>
<form method="GET">
    <input type="text" name="nome" placeholder="Buscar por nome"/>
    <input type="submit" value="Buscar">
</form>
<br>
<br>
<a href="{% url 'pessoa.novo' %}"> Novo </a>
<br><br>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Ativa?</th>
            <th>Botões de Ações</th> 
        </tr>
    </thead>
    <tbody>
        {% for pessoa in object_list %}
        <tr>
            <td>{{ pessoa.nome_completo }}</td>
            <td>{{ pessoa.data_nascimento|date:"d/m/Y" }}</td>
            <td>
            {% if pessoa.ativa %}
            Sim
            {% else %}
            Não
            {% endif %}
            </td>
            <td>
                <a href="{% url 'pessoa.edit' pessoa.pk %}">Editar</a>
                <a href="{% url 'pessoa.del' pessoa.pk %}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
